<!DOCTYPE html>
<html>
    <head>
        <title>
            Correlation
        </title>
    </head>
    <body style="background-color:rgb(141, 204, 244);">
        <h1> 
        <center>Correlation of between public transport locations and sentiment</center>
        </h1>
        <h2>
        <center>The below table shows the sentiment, income and transport usage of all SA3 areas that people tweeted from:</center>
        </h2>
        <br>
        <center>
            <table bgcolor = "black">
                <tr bgcolor = "grey">
                    <th>SA3 Area</th>
                    <th>Ballarat</th>
                    <th>Bendigo</th>
                    <th>Campaspe</th>
                    <th>Cardinia</th>
                    <th>Geelong</th>
                    <th>Heathcote - Castlemaine - Kyneton</th>
                    <th>Melbourne City</th>
                    <th>Melton - Bacchus Marsh</th>
                    <th>Surf Coast - Bellarine Peninsula</th>
                    <th>Warrnambool	</th>

                </tr>
                <tr bgcolor = "lightgrey">
                    <td>Twitter Sentiment</td>
                    <td>-0.888500</td>
                    <td>0.108850</td>
                    <td>0.458800</td>
                    <td>0.440400</td>
                    <td>-0.282600</td>
                    <td>-0.002267</td>
                    <td>-0.159518</td>
                    <td>-0.226300</td>
                    <td>0.254300</td>
                    <td>-0.34540</td>
                </tr>
                <tr bgcolor = "lightgrey">
                    <td>Median Income</td>
                    <td>-0.345543</td>
                    <td>-0.371125</td>
                    <td>-0.426023</td>
                    <td>-0.367304</td>
                    <td>-0.345902</td>
                    <td>-0.368534</td>
                    <td>-0.350503</td>
                    <td>-0.320250</td>
                    <td>-0.417045</td>
                    <td>-0.439035</td>
                </tr>
                <tr bgcolor = "lightgrey"> 
                    <td>Public Transport Usage</td>
                    <td>0.072115</td>
                    <td>0.023164</td>
                    <td>-0.686364</td>
                    <td>-0.155594</td>
                    <td>0.375291</td>
                    <td>0.010927</td>
                    <td>0.900022</td>
                    <td>0.010101</td>
                    <td>-0.341608</td>
                    <td>-0.201267</td>
                </tr>
                
            </table>
            </center>
        <br>
        <h3>
            <center>The following is the correlation measured between public transport locations and the sentiment of that transport in that location</center>
        </h3>
        <h1> 
            <center>Sentiment vs. Public Transport Usage = -0.4587</center>
        </h1>
        <br>
        <h3>
            <center>The following is the correlation measured between income level and the sentiment of public transport in that location</center>
        </h3>
        <h1> 
            <center>Sentiment vs. Income = -0.4077</center>
        </h1>
        <br>
        <br>
        <center>
        <button onclick="window.location.href='/'">
            Home
        </button>
        </center>

    </body>
</html>