<!DOCTYPE html>
<html>
    <head>
        <title>
            Correlation
        </title>
    </head>
    <body style="background-color:rgb(141, 204, 244);">
        <h2> 
        <center>Correlation of between public transport locations and sentiment</center>
        </h2>
        <h3>
            <center>The following number is the correlation measured between public transport locations and the sentiment of that transport in that location</center>
        </h3>
        <br>
        <br>
        <h1> 
            <center>XX.XX%</center>
        </h1>
        <br>
        <br>
        <center>
        <button onclick="window.location.href='/'">
            Home
        </button>
        </center>

    </body>
</html>