<!DOCTYPE html>
<html>
    <head>
        <title>
            Home Page
        </title>
    </head>
    <center>   
    <body>
        <h1> 
            COMP90024: Assignment 2
            <br>Welcome to Group 51's website
        </h1>
        <h2>This website is a display of the analysis we have done on the senitment of toots and tweets discussing public transport</h2>
        <button onclick="window.location.href='/Group_Members'">
            Group Members
        </button>
        <button onclick="window.location.href='/graphic2'">
            Graphic2
        </button>
        <button onclick="window.location.href='/graphic3'">
            Graphic3
        </button>
    </body>
    </center>
</html>
