<!DOCTYPE html>
<html>
    <head>
        <title>
            Group Members
        </title>
    </head>
    <body style="background-color:rgb(141, 204, 244);">
        <h1> 
        <center>Group Members</center>
        </h1>
        <h2>
            <center>The following is a list of those who contributed to this project</center>
        </h2>
        <h3>
            <center>
            <br> Ben Slavec (1292597)
            <br> Chien-Pu Lin (1334028)
            <br> Jack Melleuish (1171367)
            <br> Jesse Cooper (1091024)
            <br> Jin Yuan Hee (1072295) 
            </center>
        </h3>
        <center>
        <button onclick="window.location.href='/'">
            Home
        </button>
        </center>
    </body>
</html>
