<!DOCTYPE html>
<html>
    <head>
        <title>
            Public Transport
        </title>
    </head>
    <body style="background-color:rgb(141, 204, 244);">
        <h1> 
        <center>The Locations of Public Transport in VIC</center>
        </h1>
        <h2>
            <center>The following is a map of the public transport locations across victoria</center>
        </h2>
        <center>
        <br>
        <button onclick="window.location.href='/'">
            Home
        </button>
        </center>

    </body>
</html>